<h1> names are <%= @name %> and <%= @name2 %></h1>
<h2> <%= @name %> = <%= @player1_hit %>, <%= @name2 %> = <%= @player2_hit %></h2>

<form action="/attack">
<input type="submit" value="Attack">
</form>
